.p2-btn {
  display: none;
}

.player-box {
}

#winnerDisplay {
  display: none;
}

.dice-img {
  max-width: 190px;
  display: none;
}

.container {
  /* background-color: #5075E1; */
}

.jumbotron {
  text-align: center;
  margin-top: 14px;
  font-family: 'Fredoka One', cursive;
  color: black;
}

p {
  font-family: 'Fredoka One', cursive;
  color: black
}

.btn {
  font-family: 'Fredoka One', cursive;
  color: black;
}

body {
  background-image: linear-gradient(to right top, #f04b96, #ff5d56, #fb9000, #bdc300, #12eb3a);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#top {
text-align: center;
height: 250px;
}